.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 40px 0;
}

.container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
  }

  h3 {
    margin: 0;
    margin-top: 10px;
    font-weight: 300;
  }

  span {
    font-weight: 600;
  }
}

.container-content {
  width: 90%;
}

.confirm-button {
  padding: 15px 20px;
  background-color: var(--accent-colour);
  border: 1px solid var(--accent-colour);
  color: var(--primary-colour);
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: var(--primary-colour);
  color: var(--accent-colour);
}

.button-container {
  width: 90%;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin: 20px 0;
}

input {
  height: 30px;
  width: 100%;
}

p {
    margin: 5px 0;
}
