<div class="container" [formGroup]="passwordForm">
  <div class="container-title">
    <h1>CHANGE PASSWORD</h1>
  </div>
  <div class="container-content">
    <div class="input-container">
      <p>Old Password</p>
      <input type="password" formControlName="old_password" />
      <div
        *ngIf="
          passwordForm.controls['old_password'].invalid &&
          passwordForm.controls['old_password'].touched
        "
      >
        <small
          *ngIf="passwordForm.controls['old_password'].errors?.['required']"
          class="error-message"
        >
          Old password is required
        </small>
      </div>
    </div>

    <div class="input-container">
      <p>New Password</p>
      <input type="password" formControlName="new_password" />
      <div
        *ngIf="
          passwordForm.controls['new_password'].invalid &&
          passwordForm.controls['new_password'].touched
        "
      >
        <small
          *ngIf="passwordForm.controls['new_password'].errors?.['required']"
          class="error-message"
        >
          New password is required
        </small>
      </div>
    </div>

    <div class="input-container">
      <p>Confirm New Password</p>
      <input type="password" formControlName="confirm_password" />
      <div
        *ngIf="
          passwordForm.controls['confirm_password'].invalid &&
          passwordForm.controls['confirm_password'].touched
        "
      >
        <small
          *ngIf="passwordForm.controls['confirm_password'].errors?.['required']"
          class="error-message"
        >
          Confirm the new password
        </small>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button class="confirm-button">CHANGE</button>
  </div>
</div>
