<div class="container">
    <div class="container-title">
        <h1>CHANGE PASSWORD</h1>
    </div>
    <div class="container-content">
        <div class="input-container">
            <p>Old Password</p>
            <input
              type="password"
              formControlName="old-password"
            />
          </div>

          <div class="input-container">
            <p>New Password</p>
            <input
              type="password"
              formControlName="new-password"
            />
          </div>

          <div class="input-container">
            <p>Confirm New Password</p>
            <input
              type="password"
              formControlName="confirm-new-password"
            />
          </div>
    </div>
    <div class="button-container">
        <button class="confirm-button">CHANGE</button>
    </div>
</div>
