.container{
    display: flex;
    margin: 0 200px;
    justify-content: space-between;
    padding: 25px 0;

    img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-top-right-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
      }
}

.card {
    padding: 20px;
    background-color: var(--primary-colour);
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow);
}

.day-component-content {
    display: flex;
    gap: 20px;
}


.day-card{
    padding: 20px 0;
}