<div class="container">
  <h1>Sign up</h1>
  <div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
      <div class="input-container">
        <input
          type="text"
          formControlName="email"
          placeholder="Email Address"
        />
      </div>
      <div class="input-container">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
        />
      </div>

      <div>
        <div class="gender-container">
          <div class="gender-choice">
            <label>
              <input type="radio" value="Male" formControlName="gender" />
            </label>
            <p>Male</p>
          </div>
          <div class="gender-choice">
            <label>
              <input type="radio" value="Female" formControlName="gender" />
            </label>
            <p>Female</p>
          </div>
        </div>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Birth date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="input-container">
        <input type="text" formControlName="height" placeholder="Height (cm)" />
      </div>

      <div class="input-container">
        <input type="text" formControlName="weight" placeholder="Weight (kg)" />
      </div>

      <div class="input-container">
        <input type="submit" value="Register" id="register-button" />
      </div>

      <div class="login-container">
        <p>Already have an account?</p>
        <button id="login-button" routerLink="/login">Log in</button>
      </div>

    </form>
  </div>
</div>
