<div class="container">
  <h1>Sign up</h1>
  <div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
      <div class="input-container">
        <input
          type="text"
          formControlName="email"
          placeholder="Email Address*"
        />
        <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">
          <small *ngIf="registerForm.controls['email'].errors?.['required']">Email is required</small>
          <small *ngIf="registerForm.controls['email'].errors?.['email']">Invalid email format</small>
        </div>
      </div>
      <div class="input-container">
        <input
          type="password"
          formControlName="password"
          placeholder="Password*"
        />
        <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
          <small *ngIf="registerForm.controls['password'].errors?.['required']">Password is required</small>
        </div>
      </div>

      <div class="gender-container">
        <select formControlName="gender" class="form-control" id="gender-selector">
          <option value="" disabled selected>Gender*</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">I'd rather not specify</option>
        </select>
        <div *ngIf="registerForm.controls['gender'].invalid && registerForm.controls['gender'].touched">
          <small *ngIf="registerForm.controls['gender'].errors?.['required']">Gender is required</small>
        </div>
      </div>

        <div class="birthdate-container">
          <mat-form-field appearance="fill" id="birthdate-form">
            <mat-label>Birth date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      

      <div class="input-container">
        <input type="text" formControlName="height" placeholder="Height (cm)*" />
        <div *ngIf="registerForm.controls['height'].invalid && registerForm.controls['height'].touched">
          <small *ngIf="registerForm.controls['height'].errors?.['required']">Height is required</small>
        </div>
      </div>

      <div class="input-container">
        <input type="text" formControlName="weight" placeholder="Weight (kg)*" />
        <div *ngIf="registerForm.controls['weight'].invalid && registerForm.controls['weight'].touched">
          <small *ngIf="registerForm.controls['weight'].errors?.['required']">Weight is required</small>
        </div>
      </div>

      <div class="input-container">
        <input type="submit" value="Register" id="register-button" />
      </div>

      <div class="login-container">
        <p>Already have an account?</p>
        <button id="login-button" routerLink="/login">Log in</button>
      </div>

    </form>
  </div>
</div>
