<header class = "header">
    <div class = "contents">
        <img class = "logo" src="../assets/Logo.png" alt="">
        <button class="navbar-button" routerLink="/dashboard/home">HOME</button>
        <button class="navbar-button">PLANS</button>
        <button class="navbar-button">ABOUT US</button>
        <button class="navbar-button" routerLink="/dashboard/contact-us">CONTACT US</button>
        <span class="pi pi-user" style = "font-size: 25px; color:var(--accent-colour)"></span>
    </div>
</header>
