  .plan-button {
      font-size: 18px;
      font-weight: 500;
      padding: 15px 20px;
      width: 100%;
      background-color: var(--accent-colour);
      color: var(--primary-colour);
      border: 1px solid var(--accent-colour);
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease;
  }

  .plan-button:hover {
    background-color: var(--primary-colour);
    color: var(--accent-colour);
}

  .button-container {
    margin: 50px 0;
    margin-bottom: 25px;
    width: 100%;
    padding: 0 200px;
  }