<div class="wrapper">
  <div class="container">
    <div class="title-container">
      <p>OVERVIEW</p>
    </div>
    <div class="entry-container">
      <div class="entry-container-title">
        <h2>Meals</h2>
        <hr>  
      </div>
      <div class="item-container">
       <!-- <app-overview-item-meal *ngFor="let meal of meals" [meal]="meal"></app-overview-item-meal>-->
      </div>
    </div>
    <div class="entry-container">
      <div class="entry-container-title">
        <h2>Meal Plans</h2>
        <hr>  
      </div>
      <div class="item-container">
        
          <app-overview-item-plan  *ngFor="let plan of plans" [plan]="plan"></app-overview-item-plan>
          <app-overview-item-plan></app-overview-item-plan>
          <app-overview-item-plan></app-overview-item-plan>
          <app-overview-item-plan></app-overview-item-plan>
          <app-overview-item-plan></app-overview-item-plan>
          
        
      </div>
    </div>
  </div>
</div>
