<footer class="footer">
  <div class="contents">
    <div class="logo-container">
        <img class="logo" src="../assets/Logo.png" alt="" />
    </div>
    <div class="copyright-container">
        <p>2024 NutriTrack Ltd. All rights reserved</p>
    </div>
    <div class="icons">
      <a href="https://www.facebook.com/profile.php?id=61562587217437" target="_blank"><i class="pi pi-facebook" style="font-size: 2rem"></i></a>
      <a href="https://x.com/NutriTrackTeam" target="_blank"><i class="pi pi-twitter" style="font-size: 2rem"></i></a>
      <i class="pi pi-instagram" style="font-size: 2rem"></i>
    </div>
  </div>
</footer>
