<div class="wrapper">
  <app-header></app-header>
  <app-admin-navbar></app-admin-navbar>
  
  <div class="content-container">
    <app-category-selector
      [titleText]="'Remove a'"
      [firstButtonText]="'Meal'"
      [secondButtonText]="'Meal Plan'"
      (firstButtonClicked)="showRemoveMeal = true; showButtons = false;"
      (secondButtonClicked)="showRemoveMeal = false; showButtons = false;"
    ></app-category-selector>
    
    <app-item-selector *ngIf="showRemoveMeal" (itemSelected)="toggleButtons(true)"></app-item-selector>
    
    <div class="button-container" *ngIf="showButtons">
      <button class="remove-button">DELETE</button>
      <button class="cancel">CANCEL</button>
    </div>
  </div>

  <app-footer></app-footer>
</div>
