<div class="container">
  <div class="container-title">
    <h1>Track Your Nutrition: Top Calorie & Nutrient Tools</h1>
  </div>
  <div class="container-item">
    <img src="../../assets/scale.png" alt="" />
    <div class="container-text">
      <h3>Track your calorie intake</h3>
      <p>Accurately track your daily calories with these powerful tools to maintain a healthy diet and reach your nutrition goals.</p>
    </div>
  </div>
  <div class="container-item">
    <img src="../../assets/meals.png" alt="" />
    <div class="container-text">
      <h3>Discover Pre-Made Meal Plans</h3>
      <p>Simplify your nutrition with pre-made meal plans tailored to your dietary needs and preferences, helping you stay on track effortlessly.</p>
    </div>
  </div>
  <div class="container-item">
    <img src="../../assets/progress.png" alt="" />
    <div class="container-text">
      <h3>Monitor Your Progress Over Time</h3>
      <p>Track your journey with detailed progress reports and insights, helping you stay motivated and achieve your health and fitness goals.</p>
    </div>
  </div>
  <button class="outline-button">GET STARTED</button>
</div>
