.item-card {
  display: flex;
  background-color: var(--primary-colour);
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--border-radius);
  box-shadow: var(--drop-shadow);
  width: 350px;
  height: 500px;
  flex-direction: column;
  transition: all 0.3s ease;


  hr {
    width: 80%;
  }
}

.item-card:hover {
  box-shadow: none;
  transform: translateY(2px);
}

.item-card-photo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }
}

.item-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    margin-bottom: 0;
  }
}

.item-card-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-edit-button {
  background-color: var(--accent-colour);
  border: 1px solid var(--accent-colour);
  border-radius: 15px;
  margin: 10px 20px;
  padding: 10px 0;
  width: 80%;
  color: var(--primary-colour);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.item-edit-button:hover {
  background-color: var(--primary-colour);
  border: 1px solid var(--accent-colour);
  color: var(--accent-colour);
}

.item-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.text-container{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;

}