<div class="container">
    <div class = "plan-container">
        <h1>Plan name</h1>
        <span>Plan details</span>
    </div>
    <div class="meals-container">
        <div class="dropdown">
            <button class="dropbutton">
                <p href="#">Select day</p>
            </button>
            <div class="dropdown-content">
                <p routerLink="Monday">Monday</p>
                <p href="#">Tuesday</p>
                <p href="#">Wednesday</p>
                <p href="#">Thursday</p>
                <p href="#">Friday</p>
                <p href="#">Saturday</p>
                <p href="#">Sunday</p>
            </div>
          </div>
    </div>
    <div class = "cards-container">
        <div class = "card">
            <div class="card-photo">
                <img src="../../../assets/mat-img.png" alt="" />
              </div>
              <div class="card-name">
                <a>
                    name of the meal
                </a>
              </div>
              <div class="card-description">
                  meal description blba nnasuiebfs bsadbfiuabscf hbuabszcbsdkzjxc uaSBNFKUBASKJ 
              </div>
              <div class="text-container">
              <div class ="text-left">
                Nutrient:
                <a>
                    valoare
                </a>
                <div class ="text-left">
                    Nutrient:
                    <a>
                        valoare
                    </a>
                  </div>
              </div>
    
              <div class="text-right">
                Nutrient:
                <a>
                    valoare
                </a>
                <div class="text-right">
                    Nutrient:
                    <a>
                        valoare
                    </a>
                  </div>
              </div>
              
            </div>
        </div>

        <div class = "card">
            <div class="card-photo">
                <img src="../../../assets/mat-img.png" alt="" />
              </div>
              <div class="card-name">
                <a>
                    name of the meal
                </a>
              </div>
              <div class="card-description">
                  meal description blba nnasuiebfs bsadbfiuabscf hbuabszcbsdkzjxc uaSBNFKUBASKJ 
              </div>
              <div class="text-container">
              <div class ="text-left">
                Nutrient:
                <a>
                    valoare
                </a>
                <div class ="text-left">
                    Nutrient:
                    <a>
                        valoare
                    </a>
                  </div>
              </div>
    
              <div class="text-right">
                Nutrient:
                <a>
                    valoare
                </a>
                <div class="text-right">
                    Nutrient:
                    <a>
                        valoare
                    </a>
                  </div>
              </div>
              
            </div>
        </div>
        <div class = "card">
            <div class="card-photo">
                <img src="../../../assets/mat-img.png" alt="" />
              </div>
              <div class="card-name">
                <a>
                    name of the meal
                </a>
              </div>
              <div class="card-description">
                  meal description blba nnasuiebfs bsadbfiuabscf hbuabszcbsdkzjxc uaSBNFKUBASKJ 
              </div>
              <div class="text-container">
              <div class ="text-left">
                Nutrient:
                <a>
                    valoare
                </a>
                <div class ="text-left">
                    Nutrient:
                    <a>
                        valoare
                    </a>
                  </div>
              </div>
    
              <div class="text-right">
                Nutrient:
                <a>
                    valoare
                </a>
                <div class="text-right">
                    Nutrient:
                    <a>
                        valoare
                    </a>
                  </div>
              </div>
              
            </div>
        </div>
    </div>
</div>

