<div class="container">
    <div class = "plan-container">
        <h1>Plan name</h1>
        <span>Plan details</span>
    </div>
    <div class="meals-container">
        <div class="dropdown">
            <button class="dropbutton">
                <p href="#">Select day</p>
            </button>
            <div class="dropdown-content">
                <p href="#">Monday</p>
                <p href="#">Tuesday</p>
                <p href="#">Wednesday</p>
                <p href="#">Thursday</p>
                <p href="#">Friday</p>
                <p href="#">Saturday</p>
                <p href="#">Sunday</p>
            </div>
          </div>
    </div>
    <div class = "cards-container">
        <div class = "card">
            <div class="card-photo">
                <img src="../../../assets/Raul.jpg" alt="" />
              </div>
              <div class="card-name">
                <p>
                    Lunch
                </p>
              </div>
              <div class="card-description">
                  meal description
              </div>
        </div>





        <div class = "card">
            
        </div>
        <div class = "card">
            
        </div>
    </div>
</div>

