<div class="container">
    <div class = "plan-container">
        <h1>Plan name</h1>
        <span>Plan details</span>
    </div>
    <div class="meals-container">
        <div class="dropdown">
            <button class="dropbutton">
                <p href="#">Select day</p>
            </button>
            <div class="dropdown-content">
                <p href="#">Monday</p>
                <p href="#">Tuesday</p>
                <p href="#">Wednesday</p>
                <p href="#">Thursday</p>
                <p href="#">Friday</p>
                <p href="#">Saturday</p>
                <p href="#">Sunday</p>
            </div>
          </div>
    </div>
    <div class = "cards-container">
        <h1>meals card</h1>
    </div>
</div>

