<div class="wrapper">
    <div class="container">
      <form [formGroup]="planForm" class="add-entry-form-body">
        <div class="add-entry-component">
            <div class="add-entry-component-title">
              <p>Select Meal Plan</p>
            </div>
            <div class="add-entry-component-field">
              <select formControlName="planSelector" class="form-control">
                <option *ngFor="let plan of plans" [value]="plan.meal_Plan_Id">{{ plan.title }}</option>
              </select>
            </div>
          </div>
        <div class="add-entry-component">
          <div class="add-entry-component-title">
            <p>Name</p>
          </div>
          <div class="add-entry-component-field">
            <input type="text" formControlName="name" class="input-field" />
            <div
              *ngIf="
                planForm.controls['name'].invalid &&
                planForm.controls['name'].touched
              "
            >
              <small
                *ngIf="planForm.controls['name'].errors?.['required']"
                class="error-message"
              >
                Name is required
              </small>
            </div>
          </div>
        </div>

        <div class="add-entry-component">
          <div class="add-entry-component-title">
            <p>Description</p>
          </div>
          <div class="add-entry-component-field">
            <textarea
              type="text"
              formControlName="description"
              class="description"
            ></textarea>
            <div
            *ngIf="
              planForm.controls['description'].invalid &&
              planForm.controls['description'].touched
            "
          >
            <small
              *ngIf="planForm.controls['description'].errors?.['required']"
              class="error-message"
            >
              Description is required
            </small>
          </div>
          </div>
        </div>

        <div class="add-entry-component-title">
          <p>Meals</p>
        </div>

        <div class="add-entry-component">
          <!--<div class="add-entry-component-field">
            <select
            
            >
              <option
                *ngFor="let day of days; trackBy: trackByValue"
                [ngValue]="day.value"
              >
                {{ day.name }}
              </option>
            </select>
          </div>-->

          <mat-select
            [(ngModel)]="selectedDay"
            (ngModelChange)="daySelect()"
            formControlName="daySelect"
            class="selecter"
          >
            <mat-option
              *ngFor="let day of days; track: day"
              [value]="day.value"
              class="selector-item"
              >{{ day.name }}</mat-option
            >
          </mat-select>

          <app-day
            [ngClass]="{ hider: selectedDay !== 1 }"
            [meals]="meals"
            [planForm]="planForm"
            [indexFromParent]="0"
          ></app-day>
          <app-day
            [ngClass]="{ hider: selectedDay !== 2 }"
            [meals]="meals"
            [planForm]="planForm"
            [indexFromParent]="1"
          ></app-day>
          <app-day
            [ngClass]="{ hider: selectedDay !== 3 }"
            [meals]="meals"
            [planForm]="planForm"
            [indexFromParent]="2"
          ></app-day>
          <app-day
            [ngClass]="{ hider: selectedDay !== 4 }"
            [meals]="meals"
            [planForm]="planForm"
            [indexFromParent]="3"
          ></app-day>
          <app-day
            [ngClass]="{ hider: selectedDay !== 5 }"
            [meals]="meals"
            [planForm]="planForm"
            [indexFromParent]="4"
          ></app-day>
          <app-day
            [ngClass]="{ hider: selectedDay !== 6 }"
            [meals]="meals"
            [planForm]="planForm"
            [indexFromParent]="5"
          ></app-day>
          <app-day
            [ngClass]="{ hider: selectedDay !== 7 }"
            [meals]="meals"
            [planForm]="planForm"
            [indexFromParent]="6"
          ></app-day>

          <div class="add-entry-component">
            <div class="add-entry-component-title">
              <p>Photo</p>
            </div>
            <div class="add-entry-component-field" id="upload-container">
              <input
                type="file"
                class="upload-photo"
                (change)="onFileChange($event)"
                id="fileInput"
              />
              <label for="fileInput" class="custom-upload-label">
                <h1>Click here to upload a photo</h1>
              </label>
            </div>
          </div>
          <div class="buttons-container">
            <button class="submit-button" (click)="OnProductSubmit()">Edit</button>
            <button class="delete-button" (click)="onDeleteClick()">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
