.search-bar-container {
    display: flex;
    width: 1128px;
    padding: 37px 96px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-bar-frame {
    width: 648px;
    height: 48px;
}

.search-bar-form {
    width: 648px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(208, 208, 210, 0.25);
}