<div class="container">
  <div class="text-container">
    <h1>We know meal prepping is tedious</h1>
    <h3>so we took care of it for you</h3>
  </div>
  <div class="presentation-container">
    <div class="left-side-container">
      <div class="item-showcase-left">
        <p>Meat Lover</p>
        <img src="../../assets/meat.png" alt="" />
      </div>
      <div class="item-showcase-left">
        <p>Go Green</p>
        <img src="../../assets/vegetarian.png" alt="" />
      </div>
    </div>
    <div class="vl"></div>
    <div class="right-side-container">
      <div class="item-showcase-right">
        <img src="../../assets/bulk.png" alt="" />
        <p>Bulk Up</p>
      </div>
      <div class="item-showcase-right">
        <img src="../../assets/Shredding.png" alt="" />
        <p>Shredding</p>
      </div>
    </div>
  </div>
  <button class="outline-button">FIND MORE</button>
</div>
