
<div class="container">
    
   <form [formGroup]="addProductForm" (ngSubmit)="OnProductSubmit()">
      <div class="entry-container">
        <div class="entry-title">
          <p>Title</p>
        </div>
        <div class="entry-component">
          <input type="text" formControlName="title" />
        </div>
      </div>
    
      <div class="entry-container">
        <div class="entry-title">
          <p>Photo</p>
        </div>
        <div class="upload-frame">
          <div class="photo-frame">
            <div class="vector">
              
              <i class="pi pi-cloud-upload upload-icon"></i>
              
            </div>
            <p class="drag-and-drop">Drag & Drop</p>
            <p class="instructions">
              You can drag and drop the files here or to browse
          </p>
          <input type="file" id="file-upload" class="file-upload" >
          </div>
        </div>
      </div>
      
      
  
      <div class="entry-container">
        
        <div class="entry-component">
          <p>Select meals</p>
          <select formControlName="meals" class="form-control">
            <option value="Select">Select</option>
            <option value="Meal1">Meal 1</option>
            <option value="Meal2">Meal 2</option>
            <option value="Meal3">Meal 3</option>
          </select>
        </div>
      </div>

      <button class="add">Add more meals</button>

      <div class="entry-container">
        <div class="entry-title">
          <p>Descrption</p>
        </div>
        <div class="entry-component">
          <textarea formControlName="description" class="description"></textarea>
        </div>
      </div>
  
      <div class="buttons-container">
        <button class="confirm-button">CONFIRM</button>
        <button class="cancel-button">CANCEL</button>
      </div> 

    </form> 
  </div>