.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.add-entry-form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.add-entry-form-body {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-colour);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow);
    width: 40%;
    padding: 25px 50px;
}

.add-entry-component {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.add-entry-component-title {
    margin: -10px 0;
}

.input-field {
    width: 100%;
    height: 30px;
}

.description {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 200px;
    resize: none;
}

.submit-button {
    width: 100%;
    margin-top: 20px;
    background-color: var(--text-colour);
    color: var(--primary-colour);
    border: 1px solid var(--text-colour);
    border-radius: var(--border-radius);
    padding: 10px 25px;
    transition: all 0.3s ease;
}

.submit-button:hover {
    background-color: var(--accent-colour);
    color: var(--primary-colour);
    border: 1px solid var(--accent-colour);
}

.add-entry-component-cluster {
    display: flex;
    justify-content: space-between;

    .add-entry-component {
        width: 10%;

        .add-entry-input {
            width: 100%;
            height: 30px;
        }
    }
}

.form-control {
    width: 100%;
    height: 30px;
}