<div class="wrapper">
  <div class="container">
    <form [formGroup]="addProductForm" class="add-entry-form-body">
      <div class="add-entry-component">
        <div class="add-entry-component-title">
          <p>Name</p>
        </div>
        <div class="add-entry-component-field">
          <input type="text" formControlName="name" class="input-field" />
        </div>
      </div>
      <div class="add-entry-component">
        <div class="add-entry-component-title">
          <p>Category</p>
        </div>
        <div class="add-entry-component-field">
          <select formControlName="category" class="form-control">
            <option value="">Select</option>
            <option value="1">Vegan</option>
            <option value="2">Keto</option>
            <option value="3">Muscle Gain</option>
          </select>
        </div>
      </div>

      <div class="add-entry-component">
        <div class="add-entry-component-title">
          <p>Description</p>
        </div>
        <div class="add-entry-component-field">
          <textarea
            type="text"
            formControlName="description"
            class="description"
          ></textarea>
        </div>
      </div>
      <div class="add-entry-component">
        <div class="add-entry-component-title">
          <p>Photo</p>
        </div>
        <div class="add-entry-component-field" id="upload-container">
          <input
            type="file"
            class="upload-photo"
            (change)="onFileChange($event)"
            id="fileInput"
          />
          <label for="fileInput" class="custom-upload-label">
            <h1>Click here to upload a photo</h1>
          </label>
        </div>
      </div>
      <div class="add-entry-component-cluster">
        <div class="add-entry-component">
          <div class="add-entry-component-title">
            <p>Calories</p>
          </div>
          <div class="add-entry-component-field">
            <input
              type="number"
              formControlName="calories"
              class="add-entry-input"
            />
          </div>
        </div>
        <div class="add-entry-component">
          <div class="add-entry-component-title">
            <p>Protein</p>
          </div>
          <div class="add-entry-component-field">
            <input
              type="number"
              formControlName="protein"
              class="add-entry-input"
            />
          </div>
        </div>
        <div class="add-entry-component">
          <div class="add-entry-component-title">
            <p>Carbs</p>
          </div>
          <div class="add-entry-component-field">
            <input
              type="number"
              formControlName="carbs"
              class="add-entry-input"
            />
          </div>
        </div>
        <div class="add-entry-component">
          <div class="add-entry-component-title">
            <p>Fats</p>
          </div>
          <div class="add-entry-component-field">
            <input
              type="number"
              formControlName="fats"
              class="add-entry-input"
            />
          </div>
        </div>
      </div>
      <div class="buttons-container">
        <button class="submit-button" (click)="OnProductSubmit()">Create</button>
      </div>
    </form>
  </div>
</div>
