#accent-button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #7ABA78;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    color: #F1F1F1;
    font-weight: 600;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #F1F1F1;
    transition: all 0.3s ease;
}

#accent-button:hover {
    background-color: transparent;
    color: #F1F1F1;
    box-shadow: inset 0 0 0 2px #F1F1F1;
}