<div class="container">
    <h1 class="day">Check your meals</h1>
    <div class="meals-nav-container">
        <button class="previous-button" (click)="previous()">&lt;</button>
        <div class="meals-container">
            <div class="meal" *ngFor="let day of displayDays">
                <p class="meal-title">{{ day }}</p>
                <div class="custom-line"></div>
                <div class="meal-item" *ngFor="let meal of meals[day]">
                    <label [for]="day + meal">{{ meal }}</label>
                    <input type="checkbox" [id]="day + meal" [name]="day + meal">
                </div>
            </div>
        </div>
        <button class="next-button" (click)="next()">&gt;</button>
    </div>
</div>
