<div class="container">
    <h1 class="day">Monday</h1> <!-- Titlul zilei deasupra tuturor -->
    <div class="meals-nav-container">
        <button class="previous-button">&lt;</button>
        <div class="meals-container">
            <div class="meal">
                <p class="meal-title">BREAKFAST</p>
                <div class="custom-line"></div>
                <div class="meal-item">
                    <label for="breakfast1">LOREM</label>
                    <input type="checkbox" id="breakfast1" name="breakfast1">
                </div>
                <div class="meal-item">
                    <label for="breakfast2">LOREM</label>
                    <input type="checkbox" id="breakfast2" name="breakfast2">
                </div>
                <div class="meal-item">
                    <label for="breakfast3">LOREM</label>
                    <input type="checkbox" id="breakfast3" name="breakfast3">
                </div>
            </div>
            <div class="meal">
                <p class="meal-title">LUNCH</p>
                <div class="custom-line"></div>
                <div class="meal-item">
                    <label for="lunch1">LOREM</label>
                    <input type="checkbox" id="lunch1" name="lunch1">
                </div>
                <div class="meal-item">
                    <label for="lunch2">LOREM</label>
                    <input type="checkbox" id="lunch2" name="lunch2">
                </div>
                <div class="meal-item">
                    <label for="lunch3">LOREM</label>
                    <input type="checkbox" id="lunch3" name="lunch3">
                </div>
            </div>
            <div class="meal">
                <p class="meal-title">DINNER</p>
                <div class="custom-line"></div>
                <div class="meal-item">
                    <label for="dinner1">LOREM</label>
                    <input type="checkbox" id="dinner1" name="dinner1">
                </div>
                <div class="meal-item">
                    <label for="dinner2">LOREM</label>
                    <input type="checkbox" id="dinner2" name="dinner2">
                </div>
                <div class="meal-item">
                    <label for="dinner3">LOREM</label>
                    <input type="checkbox" id="dinner3" name="dinner3">
                </div>
            </div>
        </div>
        <button class="next-button">&gt;</button>
    </div>
</div>
