<div class="display">
    <div class="content-frame">
      <div class="category-frame">
        <p class="category-text">Category</p>
        <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="category1">Category 1</mat-option>
              <mat-option value="category2">Category 2</mat-option>
              <mat-option value="category3">Category 3</mat-option>
            </mat-select>
          </mat-form-field>
          
          
      </div>
    </div>
  </div>