<div class="container">
  <h1>Sign in to your account</h1>
  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <div class="input-container">
        <input type="text" formControlName="email" placeholder="Email Address" />
        <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
          <small *ngIf="loginForm.controls['email'].errors?.['required']">Email is required</small>
          <small *ngIf="loginForm.controls['email'].errors?.['email']">Invalid email format</small>
        </div>
      </div>
      <div class="input-container">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
        />
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
          <small *ngIf="loginForm.controls['password'].errors?.['required']">Password is required</small>
        </div>
      </div>
      <div class="forgot-pass-container">
        <p>Forgot password?</p>
      </div>
      <div class="input-container">
        <input type="submit" value="Log In" id="login-button" />
      </div>
      <div class="register-container">
        <p>Not a member yet?</p>
        <button class="register-button" routerLink="/register">Sign up now!</button>
      </div>
    </form>
  </div>
</div>
