<div [formGroup]="planForm" >
<div  class="add-entry-component-cluster" formArrayName="meals">
  <div *ngFor="let meal of meals; let i = index" [formGroupName]="i">
    <div *ngIf="i === indexFromParent">
      <div class="flex-row">
        <div>
          <div class="add-entry-component-title">
            <p>Breakfast</p>
          </div>
          <div class="add-entry-component-field">
            <select formControlName="breakfast" class="form-control">
              <option value="">Select</option>
              <option *ngFor="let meal of meals">
                {{ meal.title }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <div class="add-entry-component-title">
            <p>Lunch</p>
          </div>
          <div class="add-entry-component-field">
            <select formControlName="lunch" class="form-control">
              <option value="">Select</option>
              <option *ngFor="let meal of meals">
                {{ meal.title }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <div class="add-entry-component-title">
            <p>Lunch</p>
          </div>
          <div class="add-entry-component-field">
            <select formControlName="dinner" class="form-control">
              <option value="">Select</option>
              <option *ngFor="let meal of meals">
                {{ meal.title }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>