<div class="wrapper">
  <div class="container">
    <div class="contact-form-body" [formGroup]="contactForm">
      <div class="contact-form-title">
        <h1>Contact us</h1>
      </div>
      <div class="contact-form-user-name">
        <div class="contact-component">
          <div class="contact-component-title">
            <p>First Name</p>
          </div>
          <div class="contact-component-field">
            <input type="text" formControlName="firstName" class="input-field" />
          </div>
        </div>
        <div class="contact-component">
          <div class="contact-component-title">
            <p>Last Name</p>
          </div>
          <div class="contact-component-field">
            <input type="text" formControlName="lastName" class="input-field" />
          </div>
        </div>
      </div>
      <div class="contact-component">
        <div class="contact-component-title">
          <p>Email Address</p>
        </div>
        <div class="contact-component-field">
          <input type="text" formControlName="email" class="input-field" />
        </div>
      </div>
      <div class="contact-component">
        <div class="contact-component-title">
          <p>Phone Number</p>
        </div>
        <div class="contact-component-field">
          <input type="text" formControlName="phone" class="input-field" />
        </div>
      </div>
      <div class="contact-component">
        <div class="contact-component-title">
          <p>Description</p>
        </div>
        <div class="contact-component-field">
          <textarea
            type="text"
            formControlName="description"
            class="description-field"
          ></textarea>
        </div>
      </div>
      <button class="submit-button" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>
