<div class="container">
    <div class="container-title">
        <h1>CHANGE DETAILS</h1>
    </div>
    <div class="container-content">
        <div class="input-container">
            <p>Email</p>
            <input
              type="text"
              formControlName="email"
            />
          </div>

          <div class="input-container">
            <p>First Name</p>
            <input
              type="text"
              formControlName="firstName"
            />
          </div>

          <div class="input-container">
            <p>Last Name</p>
            <input
              type="text"
              formControlName="lastName"
            />
          </div>

          <div class="input-container">
            <p>Height</p>
            <input
              type="text"
              formControlName="height"
            />
          </div>

    </div>
    <div class="button-container">
        <button class="confirm-button">CHANGE</button>
    </div>
</div>
