.header
{
    background-color: var(--primary-colour);
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 90px;
}

.logo
{
    height: 90px;
}

.contents
{
    padding: 0 200px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;;
}

.navbar-button {
    font-size: 16px;
    position: relative;
    height: 100%;
    width: 150px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navbar-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 5%;
    background-color: var(--accent-colour);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.navbar-button:hover::after {
    transform: scaleX(1);
}
