<div class="wrapper">
    <div class="container">
      <div class="title-container">
        <h1><br>Meet the Team</h1>
    <span>Our passionate health and wellness experts are dedicated to <br>help you achive yout nutrition goal.</span>
      </div>
      <div class="cards-container">
        <div class="card">
          <div class="card-photo">
            <img src="../../../assets/Iustin.jpg" alt="" />
          </div>
          <div class="card-name">
            <h2 class="highlight">Iustin</h2>
            <h2>HOMORANU</h2>
          </div>
          <hr>
          <div class="card-description">
              Text bla bla bla
          </div>
        </div>
  
        <div class="card">
          <div class="card-photo">
            <img src="../../../assets/Raul.jpg" alt="" />
          </div>
          <div class="card-name">
            <h2 class="highlight">Lavinia</h2>
            <h2>RACHIERU</h2>
          </div>
          <hr>
          <div class="card-description">
              Text bla bla bla
          </div>
        </div>
  
        <div class="card">
          <div class="card-photo">
            <img src="../../../assets/Raul1.jpg" alt="" />
          </div>
          <div class="card-name">
            <h2 class="highlight">Raul-Costin</h2>
            <h2>PÎRVAN</h2>
          </div>
          <hr>
          <div class="card-description">
              tEXT BLA BLA BLA
          </div>
        </div>
  
        <div class="card">
          <div class="card-photo">
            <img src="../../../assets/Mihaela.jpg" alt="" />
          </div>
          <div class="card-name">
            <h2 class="highlight">Mihaela</h2>
            <h2>BURLA</h2>
          </div>
          <hr>
          <div class="card-description">
              Text bla bla
          </div>
        </div>
  
        <div class="card">
          <div class="card-photo">
            <img src="../../../assets/Cosmin.jpg" alt="" />
          </div>
          <div class="card-name">
            <h2 class="highlight">Cosmin-Ionut</h2>
            <h2>RADU</h2>
          </div>
          <hr>
          <div class="card-description">
              tEXT BLA BLA 
          </div>
        </div>
      </div>
    </div>
  </div>
  