<div class="wrapper">
    <div class="container">
      <div class="title-container">
        <h1>MEET THE TEAM</h1>
        <h3>Our passionate health and wellness experts are dedicated to help you achieve your nutrition goals</h3>
      </div>
      <div class="cards-container">
        <div class="card">
          <div class="card-photo">
            <img src="" alt="" />
          </div>
          <div class="card-name">
            <h2 class="highlight">Raul-Costin</h2>
            <h2>Pirvan</h2>
          </div>
          <hr>
          <div class="card-description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
        </div>
  
        <div class="card">
          <div class="card-photo">
            <img src="" alt="" />
          </div>
          <div class="card-name">
            <h2 class="highlight">Iustin</h2>
            <h2>Homoranu</h2>
          </div>
          <hr>
          <div class="card-description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
        </div>
  
        <div class="card">
          <div class="card-photo">
            <img src="" alt="" />
          </div>
          <div class="card-name">
            <h2 class="highlight">Lavinia</h2>
            <h2>Rachieru</h2>
          </div>
          <hr>
          <div class="card-description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
        </div>
  
        <div class="card">
          <div class="card-photo">
            <img src="" alt="" />
          </div>
          <div class="card-name">
            <h2 class="highlight">Mihaela</h2>
            <h2>Burla</h2>
          </div>
          <hr>
          <div class="card-description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
        </div>
  
        <div class="card">
          <div class="card-photo">
            <img src="" alt="" />
          </div>
          <div class="card-name">
            <h2 class="highlight">Cosmin-Ionut</h2>
            <h2>Radu</h2>
          </div>
          <hr>
          <div class="card-description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
        </div>
      </div>
    </div>
  </div>
  