<div id="filters-frame">
  <div id="filters">
    <div id="all-categories">
      <p id="categories-title">All categories</p>
      <div class="categories">
        <div *ngFor="let category of categories" class="category-entry">
          <p
            class="entry-text"
            (click)="onCategoryClick(category.category_String)"
          >
            {{ category.category_String }}
          </p>
          <!-- <p class="entry-number">(1)</p> -->
        </div>
      </div>
    </div>

    <!-- <cdk-virtual-scroll-viewport itemSize="50" class="custom-scroll">
        <div *cdkVirtualFor="let item of items" class="item">
          {{ item }}
        </div>
      </cdk-virtual-scroll-viewport> -->

    <hr class="line" />

    <div id="filter-by-calories">
      <div id="title">
        <p id="filter-by-calories-text">Filter by Calories</p>
      </div>
      <div id="calories-inputs">
        <div class="calories-input-container">
          <p id="calories-selection">Minimum calories</p>
          <input class="input-field" />
        </div>
        <div class="calories-input-container">
          <p id="calories-selection">Maximum calories</p>
          <input class="input-field" />
        </div>
      </div>
    </div>
    <hr class="line" />
    <button id="checkout-button">Filter</button>
    <button id="reset-filter-button">Reset Filters</button>
  </div>
</div>
