<div id="filters-frame">
  <div id="filters">
    <div id="all-categories">
      <p id="categories-title">All categories</p>
      <div class="categories">
        <div id="category-entry">
          <p id="entry-text">Keto</p>
          <p id="entry-number">(25)</p>
        </div>
        <div id="category-entry">
          <p id="entry-text">Vegan</p>
          <p id="entry-number">(50)</p>
        </div>
        <div id="category-entry">
          <p id="entry-text">Diet</p>
          <p id="entry-number">(100)</p>
        </div>
        <div id="category-entry">
          <p id="entry-text">Paleo</p>
          <p id="entry-number">(75)</p>
        </div>
        <div id="category-entry">
          <p id="entry-text">Intermitent fasting</p>
          <p id="entry-number">(45)</p>
        </div>
        <div id="category-entry">
          <p id="entry-text">Carnivore</p>
          <p id="entry-number">(31)</p>
        </div>
        <div id="category-entry">
          <p id="entry-text">Muscle build</p>
          <p id="entry-number">(58)</p>
        </div>
        <div id="category-entry">
          <p id="entry-text">Muscle build</p>
          <p id="entry-number">(58)</p>
        </div>
        <div id="category-entry">
          <p id="entry-text">Muscle build</p>
          <p id="entry-number">(58)</p>
        </div>
        <div id="category-entry">
          <p id="entry-text">Muscle build</p>
          <p id="entry-number">(58)</p>
        </div>
        <div id="category-entry">
          <p id="entry-text">Muscle build</p>
          <p id="entry-number">(58)</p>
        </div>
        <div id="category-entry">
          <p id="entry-text">Muscle build</p>
          <p id="entry-number">(58)</p>
        </div>
        <div id="category-entry">
          <p id="entry-text">Muscle build</p>
          <p id="entry-number">(58)</p>
        </div>
        <div id="category-entry">
          <p id="entry-text">Muscle build</p>
          <p id="entry-number">(58)</p>
        </div>
      </div>
    </div>

    <!-- <cdk-virtual-scroll-viewport itemSize="50" class="custom-scroll">
        <div *cdkVirtualFor="let item of items" class="item">
          {{ item }}
        </div>
      </cdk-virtual-scroll-viewport> -->

    <hr id="line" />

    <div id="filter-by-calories">
      <div id="title">
        <p id="filter-by-calories-text">Filter by Calories</p>
      </div>
      <div id="calories-inputs">
        <p id="calories-selection">Minimum calories</p>
        <input id="input" />
        <p id="calories-selection">Maximum calories</p>
        <input />
      </div>
    </div>
    <hr id="line" />
    <button id="checkout-button">
      <p id="checkout-button-text">Filter</p>
    </button>
    <p id="reset-filter-text">Reset Filter</p>
  </div>
</div>
