.container {
    width: 50%;
    margin: 50px auto;
    background-color: var(--primary-colour);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid var(--text-colour);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  label {
    margin-top: 10px;
  }
  
  input,
  textarea,
  select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
  }
  
  .confirm-button {
      background-color: var(--accent-colour);
      border: none;
      color: var(--primary-colour);
      padding: 10px 0;
      transition: all 0.3s ease;
  }
  
  .confirm-button:hover {
      background-color: #8ccc8a;
  }
  
  .cancel-button {
      background-color: transparent;
      border: 1px solid var(--accent-colour);
      color: var(--accent-colour);
      padding: 10px 0;
      transition: all 0.3s ease;
  }
  
  .cancel-button:hover {
      background-color: var(--text-colour);
      color: var(--primary-colour);
      border: 1px solid var(--text-colour);
  }
  
  .small-group {
      gap: 5px;
    display: flex;
    flex-direction: column;
    width: 100px;
  }
  
  .big-group {
      margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .entry-title {
      margin-bottom: -10px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .entry-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  
  .entry-component {
    display: flex;
    margin-bottom: -40px;
  }
  
  .buttons-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }