.container {
    display: flex;
    height: 200px;
    background-color: var(--accent-colour);
    justify-content: center;
    align-items: center;
}

.container-text {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 200px;
    color: var(--primary-colour);
}
