.container {
  color: var(--text-colour);
  background-color: var(--secondary-colour);
  height: 1000px;
  margin: 0 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.container-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-colour);
  box-shadow: var(--drop-shadow);
  width: 40%;
  height: 160px;
  border-radius: 15px;
  transition: all 0.3s ease;

  img {
    width: 100px;
    height: 100px;
  }
}

.container-item:hover {
  box-shadow: none;
  transform: translateY(2px);
}

.container-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container-title {
  margin: 50px 0;
  color: var(--text-colour);
}

.outline-button {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: transparent;
  padding: 15px 25px;
  color: var(--text-colour);
  font-weight: 600;
  border: none;
  margin: 50px 0;
  border-radius: var(--border-radius);
  border: 1px solid var(--text-colour);
  transition: all 0.3s ease;
}

.outline-button:hover {
  border: 1px solid var(--accent-colour);
  background-color: var(--accent-colour);
  color: var(--primary-colour);
}

/* xl */
@media (max-width: 1280px) {
  .container-text{
    font-size: 13px;
  }
}

@media (max-width:1024px){
  .container-title h1{
    font-size: 28px;
  }

  .container-text {
    font-size: 12px;
    padding-left: 3px;
}
}
