:host {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  .page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
  }

  .filters-cards-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    align-items: flex-start;
    padding: 0 13%;
    padding-bottom: 25px;
    gap: 13px;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 26px;
    margin-bottom: 50px;
  }

  .search-bar {
    display: flex;
    justify-content: center;
  }

}
