<div class="page-content">
  <app-banner-plans-page></app-banner-plans-page>
  <div class="search-bar">
    <app-search-bar></app-search-bar>
  </div>
  <div class="filters-cards-container">
    <app-filters></app-filters>
    <div class="cards-container">
      <app-meal-card></app-meal-card>
      <app-meal-card></app-meal-card>
      <app-meal-card></app-meal-card>
      <app-meal-card></app-meal-card>
      <app-meal-card></app-meal-card>
      <app-meal-card></app-meal-card>
      <app-meal-card></app-meal-card>
      <app-meal-card></app-meal-card>
      <app-meal-card></app-meal-card>
    </div>
  </div>
</div>
