<div class="page-content">
  <app-search-bar></app-search-bar>
  <div class="filters-cards-container">
    <app-filters></app-filters>
    <div class="cards-container">
      <app-meal-card></app-meal-card>
      <app-meal-card></app-meal-card>
      <app-meal-card></app-meal-card>
      <app-meal-card></app-meal-card>
      <app-meal-card></app-meal-card>
      <app-meal-card></app-meal-card>
      <app-meal-card></app-meal-card>
      <app-meal-card></app-meal-card>
      <app-meal-card></app-meal-card>
    </div>
  </div>
</div>
