:host
{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 90px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: auto;
}

.icons
{
    width:150px;
    color:var(--accent-colour);
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
}

h1
{
    font-size: 16px;
}

.logo
{
    height: 90px;
}

p
{
    display: flex;
    align-self: flex-end;
    font-size: 14.5px;
}

.contents
{
    display: flex;
    justify-content: space-around;
    width: 1146px;
    align-items: center;
}