
.card{
   
  
    display: flex;
    width: 300px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--primary-colour);
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow);

    .card-photo{
        display: flex;
        justify-content:center;
        height: 180px;
        align-self:normal;
        img {
            width: 250px;
            height: 150px;
        }
    }

    .card-name{
        color: var(--black-087, rgba(0, 0, 0, 0.87));
        font-family: Roboto;
        font-size:25px;
        font-style: normal;
        letter-spacing: 0.25px;
        flex-wrap: wrap;
        text-align: center;
        padding: 10px;
        padding-top: 5px;
    }

    .card-description{
        height: 59px;
        color:  rgba(0, 0, 0, 0.60);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        text-align: center;
        flex-wrap: wrap;
        padding:5px;
    }

    .text-container{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5px;
      
    }
    

}


