<div class="card">
  <div class="card-main-content">
    <div class="card-photo">
      <img [src]="'http://127.0.0.1:8080/' + meal.photo" />
    </div>
    <div class="card-name">
      {{ meal.title }}
    </div>
    <hr />
  </div>

  <div class="text-container">
    <div class="text-left">Proteins:{{ meal.protein }}g</div>
    <div class="text-left">Fats:{{ meal.fats }}g</div>
  </div>
  <div class="text-container">
    <div class="text-left">Calories:{{ meal.calories }} kcal</div>
    <div class="text-left">Carbs:{{ meal.carbs }}g</div>
  </div>
</div>
