.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    padding: 50px;
    font-weight: 600;
    gap: 20px;
}

.buttons-container {
    display: flex;
    gap: 25px;

    button {
        font-size: 16px;
        font-weight: 600;
        color: var(--accent-colour);
        padding: 10px 25px;
        border: 1px solid var(--accent-colour);
        border-radius: 10px;
        cursor: pointer;
        width: 150px;
        transition: all 0.3s ease;

        &.active {
            color: var(--primary-colour);
            background-color: var(--accent-colour);
        }
    }

    button:hover{
        color: var(--primary-colour);
        background-color: var(--accent-colour);

    }
}